@import "style.scss";

header {
	max-width: auto;
	height: 88px;
	flex-shrink: 0;
	position: sticky;
	z-index: 100;
	top: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	/* Style */
	background: $Accent02;
	border-top: 10px solid $Accent01;
	box-shadow: var($Box_Shadow);

	.button_links {
		display: flex;
		flex-direction: row;
		gap: 43px;
	}

	.logo {
		max-width: 12rem;
	}

	a {
		color: $Main;
		font-style: normal;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: normal;
		text-decoration: none;
	}
}
@media screen and (width < 1000px) {
	header {
		border-top: 8px solid $Accent01;
		height: 66.344px;

		.logo {
			max-width: 8rem;
		}
	}
}

@media screen and (width < 700px) {
	header {
		border-top: 6px solid $Accent01;
		background: $Accent02;
		box-shadow: 0px 23px 0px 0px $Main, 0px 28px 0px 0px $Accent02,
			0px 31px 0px 0px $Accent01, 0px 33px 20.6px 0px rgba(0, 0, 0, 0.15);
		height: 45px;

		flex-direction: column;
		justify-content: start;
		align-items: center;
		padding-block: 8px;
		gap: 12px;

		.button_links {
			height: 23px;
			gap: 23px;

			a {
				font-size: 0.75rem;
				font-weight: 600;
				color: $Accent02;
			}
		}

		.logo {
			align-self: center;
			justify-self: center;
			max-width: 6rem;
		}
	}
}
