@import "style.scss";

body {
	background: url(../IMG/Pattern\ 45.png) lightgray 0% 0% / 50px 50px repeat;
	font-family: $Inter;

	overflow-x: hidden;

	.contentWrapper {
		padding-block: 10rem;
		padding-inline: 1vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 13rem;
	}
}
